<ul>
    <li>
        @Html.ActionLink("React: Server-rendered page", "ReactServerRender", "Home", null,  new { target = "_blank"})
    </li>
            
    <li>
        @Html.ActionLink("React: Client-rendered page", "ReactClientRender", "Home", null,  new { target = "_blank"})
    </li>
    
    <li>
        @Html.ActionLink("Angular: Client-rendered page", "Angular", "Home", null,  new { target = "_blank"})
    </li>
    
    <li>
        @Html.ActionLink("ASP.NET MVC Razor: Server-rendered page", "Razor", "Home", null,  new { target = "_blank"})
    </li>

    <li>
        @Html.ActionLink("Polymer: RWD Web-Components", "PolymerRWD", "Home", null,  new { target = "_blank"})
    </li>

    <li>
        @Html.ActionLink("Polymer: Web-Components and Table", "PolymerTable", "Home", null,  new { target = "_blank"})
    
    </li>

    <li>
        @Html.ActionLink("Riot: Client-rendered page", "Riot", "Home", null,  new { target = "_blank"})
    </li>
</ul>