@model List<IsomorphicReactApp.Models.ItemModel>

<h2>@ViewBag.Message</h2>

<div id="content">
    <div class="panel">
			<h3 class="panel-heading">
				Mega grid
			</h3>
			<table class="table table-striped table-bordered table-hover">
			    <tbody>
			        @foreach (var item in Model)
			        {
			            <tr>
			                <td>@item.id</td>
			                <td>@item.name</td>
			                <td>@item.city</td>
			                <td>@item.state</td>
			                <td>@item.country</td>
			                <td>@item.company</td>
			                <td>@item.favoriteNumber</td>
			            </tr>
			        }
			    </tbody>
			</table> 
		</div>
</div>

